<p id="notice"><%= notice %></p>

<p>
  <strong>Album name:</strong>
  <%= @album.album_name %>
</p>

<%= link_to 'Edit', edit_api_v1_album_path(@album) %> |
<%= link_to 'Back', api_v1_albums_path %>
